/* Setting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

li{
    margin-left: 1em;
}
/* Logo */
body{
    background-color: lightgray;
}

#v-allign{
    vertical-align:middle;

}

h1{
    display: inline-block;
    
}

header{
    background-color: white;
}

/* Menu bottoni */
nav{
    max-width: 70%;
    margin: auto;
    background-color: white;
    height: 50px;
    margin-top: 50px; 
    border-radius: 5px;
}

#buttons{  
    line-height: 50px;
    padding-left: 20px;
}

.button-a{
    background-color: #4343ef;
    border: 1px solid #4343ef;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.button-b{
    background-color: white;
    border: 1px solid lightgray;
    color: lightgray;
    padding: 5px;
    border-radius: 5px;
}